.main {
  display: flex;
  .menu {
    flex-basis: 10%;
  }
  .link {
    position: sticky;
    top: 0;
  }
  .article {
    flex-basis: 80%;
    .title {
      .tags {
        display: flex;
        gap: 10px;
      }
      .tag {
        border-radius: 2px;
        background-color: rgb(203, 203, 203);
        width: fit-content;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #0c53c5;
}

pre {
  font-family: monospace, monospace;
  background-color: #f8f9fa;
}